<%- include('../partials/header') %>
Blogs.ejs File
<div class="container-fluid">
  <div class="row">
    <div class="pageBody col-lg-10 col-md-9 col-sm-12 col-xs-12">
      <%- include('../partials/blogViewerDiv') %>
    </div>
    <div class="pageFakeAD col-lg-2 col-md-3 col-sm-12"></div>
  </div>
</div>

<%- include('../partials/footer')%>
