<%- include('partials/header') %>
<div class="container-fluid">
  <div class="row">
    <form action="/NewBlog" method="post">
        <button type="submit">Create</button>
    </form>
</div>

<%- include('partials/footer')%>