<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <!-- CSS only -->
    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
   <link rel="stylesheet" href="/css/styles.css" />
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/f95c23eae3.js"
      crossorigin="anonymous"
    ></script>
    <title>WeeklyBlogs</title>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="#news">Blog</a>
      <a href="/ToDoList/TestList">Our-ToDoList</a>
      <a href="#contact">More..</a>
      <a href="#GetInTouch" class="split"
        ><i class="fa-solid fa-inbox fa-2xl"></i>&nbsp; &nbsp;Say HI!
      </a>
    </div>
  </body>
</html>
