<form action="/newList" method="post">
  <label>List Name</label>
  <input type="text" /><br />
  <label>First Item</label>
  <input type="text" name="listItem" /><br />
  <label>2 Item</label>
  <input type="text" /><br />
  <label>3 Item</label>
  <input type="text" /><br />
  <label>4 Item</label>
  <input type="text" /><br />
  <label>5 Item</label>
  <input type="text" /><br />
  <label>6 Item</label>
  <input type="text" /><br />
  <button type="submit">Add</button>
</form>
