<%- include('partials/header') %>
<div class="container-fluid">
  <div class="row">
    <div class="pageBody col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="card">Lots of tHINFSSSS</div>
      
    </div>
    <div class="pageFakeAD card col-lg-3 col-md-3 col-sm-12">
      Mostly Weather or Simple Adss
    </div>
  </div>
</div>

<%- include('partials/footer')%>
